@import url('https://fonts.cdnfonts.com/css/whitney-2');

/* ROOT VARIABLES */
:root {
    --font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important; 
    --font-size-large: 24px;
    --font-size-small: 14px;
    --text-font-weight: 400;
}

.bg-color{
    background-color: hsl(194.21deg 95% 7.84%) !important;
}

.primary-color{
    color: #fefae0 !important;
}

.secondary-color{
    color: #eecfd3 !important;
}

.gradient-color{
    background: linear-gradient(90deg, #66a2cc, #9c66bb 50%, #d69ca5);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

/* General Styles */
html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
    background: var(--background-color);
    overflow-x: hidden;
}

h1 { 
    font-size: 3rem !important; 
    font-weight: 700 !important;
}
h2 { font-size: 2.5rem; }
h3 { 
    font-size: 2rem !important;
    font-weight: 600 !important;
}
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

/* GLOBAL STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hero section */
#hero_section{
    height: 90vh;
}

/* .mt-header{
    margin-top: 75px;
} */

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





